<div class="h-screen w-full overflow-hidden">
    <video autoplay muted loop class="absolute top-0 left-0 w-full h-full object-cover z-0">
        <source src="../../assets/video-presentacion.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 z-10"></div>
    <div class="relative z-10 flex items-center justify-center h-full">
        <!-- Contenido de tu página -->
        <div class="text-white p-10 rounded-xl">
            <h1 class="text-7xl font-bold mb-4">DISFRUTA de la COPA AMERICA</h1>
            <h1 class="text-7xl font-bold mb-4">y GANA PREMIOS increibles</h1>
            <p class="text-2xl mb-4 font-semibold">Registrate y comienza a participar</p>
            <a href="./login"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl">Comenzar</a>
        </div>
    </div>
</div>