<div class="bg-title pt-[100px] flex flex-col items-center justify-end pb-8">
    <p class="font-bold text-5xl text-white mb-4">Posiciones</p>
  </div>
  <div class="flex justify-center pt-10">
    <div class="space-y-2 border p-4 rounded-2xl shadow-lg bg-white w-full md:w-auto">
      <p class="font-bold text-3xl mb-4">Ranking Global</p>
      <div class="flex p-5 border rounded-2xl w-full md:w-[390px] font-semibold hover:scale-105 duration-300 shadow-sm" 
        *ngFor="let posicion of posiciones; let i = index" 
        [ngClass]="getBackgroundClass(i, posicion.id_participante)">
        <p class="mr-4">#{{i + 1}}</p>
        <p>{{posicion.nombre}} {{posicion.apellido}}</p>
        <p class="ml-auto">{{posicion.puntos}} pts.</p>
      </div>
    </div>
  </div>
  