<div class="bg-title pt-[100px] flex flex-col items-center justify-end pb-8">
    <p class="font-bold text-5xl text-white mb-4">Posiciones</p>
</div>
<div class="flex justify-center pt-10">
    <div class="space-y-2 border p-4 rounded-2xl shadow-lg bg-white">
        <p class="font-bold text-3xl mb-4">ranking global</p>
        <div class="flex p-5 bg-gray-200 border rounded-2xl w-[390px] font-semibold hover:bg-gray-300 hover:scale-105 duration-300 shadow-sm" 
        *ngFor="let posicion of posiciones; let i = index" 
            [ngClass]="{'bg-gradient-to-r text-white from-[#307cdf] to-[#0852b4] hover:from-[#0852b4] hover:to-[#307cdf]': i + 1 === 2}">
            <p class="mr-4">#{{i + 1}}</p>
            <p>{{posicion.nombre}}</p>
            <p class="ml-auto">{{posicion.puntos}} pts.</p>
        </div>
    </div>
</div>