<div class="flex justify-center pt-10">
    <div class="space-y-2 border p-4 rounded-2xl shadow-lg">
        <p class="font-bold text-3xl mb-4">ranking global</p>
        <div class="flex p-5 bg-gray-200 border rounded-2xl w-[390px] font-semibold hover:bg-gray-300 hover:scale-105 duration-300 shadow-sm" 
        *ngFor="let posicion of posiciones; let i = index" 
            [ngClass]="{'bg-gradient-to-r from-[#82b8ff] to-[#3b90ff] hover:from-[rgb(99,154,255)] hover:to-[#75b1ff]': i + 1 === 2}">
            <p class="mr-4">#{{i + 1}}</p>
            <p>{{posicion.nombre}}</p>
            <p class="ml-auto">{{posicion.puntos}} pts.</p>
        </div>
    </div>
</div>