<div class="flex justify-center text-center pt-4">
    <div>
      <h1 class="text-4xl font-semibold">Partidos</h1>
      <div class="container p-4 flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
          <ng-container *ngFor="let partido of partidos; let i = index;">
            <div class="border-2 text-center rounded-3xl w-[420px] shadow-md h-max">
              <div class="rounded-t-3xl flex px-5 py-3 text-xl font-semibold border-b-2">
                <p class="">Fecha: {{ partido.fecha }} a las {{ partido.hora.substring(0, partido.hora.lastIndexOf(":")) }}</p>
  
                <div class="ml-auto text-sm p-1 rounded-md" [ngClass]="{
                  'bg-neutral-300': this.difHoras(partido.fecha, partido.hora) > 2,
                  'bg-green-300': this.difHoras(partido.fecha, partido.hora) >= 0 && this.difHoras(partido.fecha, partido.hora) <= 2,
                  'bg-yellow-300': this.difHoras(partido.fecha, partido.hora) < 0
                }">
                  <p *ngIf="this.difHoras(partido.fecha, partido.hora) > 2">En espera</p>
                  <p *ngIf="this.difHoras(partido.fecha, partido.hora) >= 0 && this.difHoras(partido.fecha, partido.hora) <= 2">En curso</p>
                  <p *ngIf="this.difHoras(partido.fecha, partido.hora) < 0">Finalizado</p>
                </div>
              </div>
              <div>
                <div class="flex flex-row justify-center items-center gap-3 p-6">
                  <div class="flex flex-col justify-center text-center w-[30%]">
                    <img src="../../assets/paises/Uruguay.png" alt="" class="w-100 rounded-xl">
                    <p class="text-lg font-semibold">{{ partido.paisLocal }}</p>
                  </div>
                  <input
                    id="local-{{ i }}"
                    class="text-lg font-semibold w-[35px] h-[35px] text-center bg-neutral-300 rounded-lg"
                    type="number"
                    [ngClass]="{ 'border-2 border-red-500 bg-red-100': errores[i]?.local }"
                    [value]="partido.goles_pais_local === null ? '/' : partido.goles_pais_local"
                    [disabled]="!this.habilitarPrediccion(partido.fecha, partido.hora)">
                  <p class="text-lg font-semibold w-[10%]">-</p>
                  <input
                    id="visitante-{{ i }}"
                    class="text-lg font-semibold w-[35px] h-[35px] text-center bg-neutral-300 rounded-lg"
                    type="number"
                    [ngClass]="{ 'border-2 border-red-500 bg-red-100': errores[i]?.visitante }"
                    [value]="partido.goles_pais_visitante === null ? '/' : partido.goles_pais_visitante"
                    [disabled]="!this.habilitarPrediccion(partido.fecha, partido.hora)">
                  <div class="flex flex-col justify-center text-center w-[30%]">
                    <img src="../../assets/paises/Uruguay.png" alt="" class="w-100 rounded-xl">
                    <p class="text-lg font-semibold">{{ partido.paisVisitante }}</p>
                  </div>
                </div>
                <button *ngIf="this.habilitarPrediccion(partido.fecha, partido.hora)"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-b-xl w-full"
                  (click)="predecir(i)">
                  Predecir
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  