<!-- Button to open/close the sidebar -->
<button (click)="toggleSidebar()" aria-controls="default-sidebar" type="button"
    class="fixed top-2 left-2 p-2 text-sm rounded-lg focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-300 hover:bg-opacity-5 focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
        </path>
    </svg>
</button>

<!-- Sidebar -->
<aside id="default-sidebar" [ngClass]="{'-translate-x-full': !isSidebarOpen, 'translate-x-0': isSidebarOpen}"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform bg-[#003282]" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto w-full">
        <!-- Button to close the sidebar -->
        <div class="flex justify-between items-center w-full mb-4">
            <img src="../../../assets/copa_america_logo2.png" alt="" class="h-10">
            <button (click)="toggleSidebar()" aria-controls="default-sidebar" type="button"
                class="top-2 right-2 p-2 text-sm rounded-lg focus:outline-none focus:ring-2 text-gray-400 hover:bg-[#08419d] focus:ring-gray-600 z-50">
                <span class="sr-only">Close sidebar</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" fill-rule="evenodd"
                        d="M10 9.293l4.146-4.147a.5.5 0 01.708.708L10.707 10l4.147 4.146a.5.5 0 01-.708.708L10 10.707l-4.146 4.147a.5.5 0 01-.708-.708L9.293 10 5.146 5.854a.5.5 0 01.708-.708L10 9.293z">
                    </path>
                </svg>
            </button>
        </div>

        <ul class="space-y-2 font-medium">
            <li *ngFor="let item of navigation">
                <a href="{{item.href}}" class="flex items-center p-2 rounded-lg text-white hover:bg-[#08419d] group">
                    <i class="{{ item.icon }}"></i>
                    <span class="ms-3">{{ item.name }}</span>
                </a>
            </li>
            <li>
                <a href="#" (click)="logout()" class="flex items-center p-2 rounded-lg text-white hover:bg-[#08419d] group">
                    <svg class="flex-shrink-0 w-5 h-5 transition duration-75 group-hover:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Cerrar sesion</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<app-root></app-root>