@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-title {
  background-image:url("assets/hero-bg.png");
  min-height: 30vh;
  margin-top: -80px;
}

.bg-design {
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

body {
  background-color: rgb(245, 245, 245);
}

/* Para Chrome, Safari y Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}