<div class=" flex flex-col justify-end p-4">
    <h1 class="font-bold text-3xl mb-4">Gestión de Partidos</h1>
  </div>
  <div class="flex justify-center text-center pt-4">
    <div>
      <div class="container p-4 flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
          <ng-container *ngFor="let partido of partidos; let i = index;">
            <div class="border text-center rounded-3xl w-[360px] shadow-lg h-max bg-white">
              <div class="rounded-t-3xl flex px-5 py-3 text-xl font-semibold border-b">
                <p>{{ partido.nombre }}</p>
                <p class="ml-auto">Fecha: {{ partido.fecha }} a las {{ partido.hora.substring(0, partido.hora.lastIndexOf(":")) }}</p>
              </div>
              <div class="flex flex-col justify-center items-center gap-3 p-6">
                <div class="flex flex-row justify-center items-center gap-3 w-full">
                  <div class="flex flex-col justify-center items-center text-center w-1/3">
                    <img [src]="getFlagUrl(partido.paisLocal)" alt="{{partido.paisLocal}}" class="w-20 rounded-xl">
                    <p class="text-lg font-semibold">{{ partido.paisLocal }}</p>
                  </div>
                  <input id="local-{{ i }}"
                         class="text-lg font-semibold w-10 h-10 text-center rounded-lg"
                         type="number"
                         [(ngModel)]="partido.goles_pais_local"
                         [disabled]="!this.puedeModificar(partido.fecha, partido.hora)">
                  <p class="text-lg font-semibold w-5">-</p>
                  <input id="visitante-{{ i }}"
                         class="text-lg font-semibold w-10 h-10 text-center rounded-lg"
                         type="number"
                         [(ngModel)]="partido.goles_pais_visitante"
                         [disabled]="!this.puedeModificar(partido.fecha, partido.hora)">
                  <div class="flex flex-col justify-center items-center text-center w-1/3">
                    <img [src]="getFlagUrl(partido.paisVisitante)" alt="{{partido.paisVisitante}}" class="w-20 rounded-xl">
                    <p class="text-lg font-semibold">{{ partido.paisVisitante }}</p>
                  </div>
                </div>
                <div class="flex justify-between w-full mt-4">
                  <button *ngIf="this.puedeModificar(partido.fecha, partido.hora)"
                          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-3xl"
                          (click)="guardarGoles(partido)">
                    Guardar
                  </button>
                  <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-3xl"
                          (click)="eliminarPartido(partido.id)">
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="mt-10">
        <h2 class="font-bold text-3xl mb-4">Agregar Nuevo Partido</h2>
        <form (ngSubmit)="agregarPartido()">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <input [(ngModel)]="nuevoPartido.nombre" name="nombre" placeholder="Nombre del Partido" class="p-2 border rounded-lg">
            <input [(ngModel)]="nuevoPartido.fecha" name="fecha" type="date" placeholder="Fecha" class="p-2 border rounded-lg">
            <input [(ngModel)]="nuevoPartido.hora" name="hora" type="time" placeholder="Hora" class="p-2 border rounded-lg">
            <input [(ngModel)]="nuevoPartido.paisLocal" name="paisLocal" placeholder="País Local" class="p-2 border rounded-lg">
            <input [(ngModel)]="nuevoPartido.paisVisitante" name="paisVisitante" placeholder="País Visitante" class="p-2 border rounded-lg">
            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-3xl">Agregar Partido</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  