<nav class="flex items-center justify-center pt-2 w-full relative z-20">
  <div class="animate-fade-down h-auto">
    <div class="relative flex items-center z-20 bg-[#003282] text-white w-auto py-3 px-4 rounded-2xl shadow-lg">
      <a routerLink="/" class="flex items-center">
        <img class="h-8 w-auto" src="./assets/copa_america_logo.png">
      </a>
      <div class="hidden sm:ml-2 sm:block">
        <div class="flex space-x-1">
          <ng-container *ngFor="let item of navigation">
            <a [routerLink]="item.href"
               [ngClass]="{
                 'bg-[#08419d] text-white': item.current,
                 'text-gray-300 hover:bg-[#08419d] hover:text-white': !item.current
               }"
               class="rounded-md px-3 py-2 text-sm font-medium flex items-center">
              <ng-container *ngIf="item.icon; else textLink">
                <img [src]="item.icon" alt="{{item.name}}" class="h-[25px]">
              </ng-container>
              <ng-template #textLink>{{ item.name }}</ng-template>
            </a>
          </ng-container>
        </div>
      </div>
      <div class="block ml-2 sm:hidden">
        <button type="button"
                class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-[#08419d] hover:text-white focus:outline-none"
                aria-controls="mobile-menu" aria-expanded="false" (click)="toggleMenu()">
          <ng-container *ngIf="!isMenuOpen">
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                 aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
          </ng-container>
          <ng-container *ngIf="isMenuOpen">
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                 aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </ng-container>
        </button>
      </div>
    </div>
    <ng-container *ngIf="isMenuOpen">
      <div
        class="absolute left-0 right-0 w-full animate-fade-down animate-duration-500 sm:hidden bg-[#003282] mt-[-12px] pt-4 mb-2 rounded-b-xl z-10"
        id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
          <ng-container *ngFor="let item of navigation">
            <a [routerLink]="item.href"
               [ngClass]="{
                 'bg-[#08419d] text-white': item.current,
                 'text-gray-300 hover:bg-[#08419d] hover:text-white': !item.current
               }"
               class="block rounded-md px-3 py-2 text-base font-medium flex items-center">
              <ng-container *ngIf="item.icon; else textLink">
                <img [src]="item.icon" alt="{{item.name}}" class="h-[25px] mr-1">
              </ng-container>
              <ng-template #textLink>{{ item.name }}</ng-template>
            </a>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</nav>
