<div class="flex justify-center items-center min-h-[600px]">
    <div class="bg-white shadow-md border rounded-xl px-8 pt-6 pb-8 mb-4">
      <h2 class="text-3xl font-bold mb-6 text-center">Registro</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-4 flex gap-2">
          <div class="relative w-full lg:w-1/2">
            <input
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="nombre"
              type="text"
              placeholder="Juan Perez"
              formControlName="nombre"
            >
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="nombre">
              Nombre y apellido
            </label>
            <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched" class="text-red-500 text-xs mt-1">
              Nombre es requerido.
            </div>
          </div>
          <div class="relative w-full lg:w-1/2">
            <input
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="email"
              type="email"
              placeholder="juan.perez@correo.ucu.edu.uy"
              formControlName="email"
            >
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="email">
              Email
            </label>
            <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-red-500 text-xs mt-1">
              <div *ngIf="registerForm.get('email')?.errors?.['required']">Email es requerido.</div>
              <div *ngIf="registerForm.get('email')?.errors?.['email']">Email no es válido.</div>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <div class="relative">
            <input
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="carrera"
              type="text"
              placeholder="Selecciona una carrera"
              formControlName="carrera"
            >
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="carrera">
              Carrera
            </label>
            <div *ngIf="registerForm.get('carrera')?.invalid && registerForm.get('carrera')?.touched" class="text-red-500 text-xs mt-1">
              Carrera es requerido.
            </div>
          </div>
        </div>
        <div class="mb-4">
          <div class="relative">
            <input
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="password"
              type="password"
              placeholder="Contraseña"
              formControlName="password"
            >
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="password">
              Contraseña
            </label>
            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-red-500 text-xs mt-1">
              <div *ngIf="registerForm.get('password')?.errors?.['required']">Contraseña es requerida.</div>
            </div>
          </div>
        </div>
        <div class="mb-6">
          <div class="relative">
            <input
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="confirm-password"
              type="password"
              placeholder="Confirmar Contraseña"
              formControlName="confirmPassword"
            >
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="confirm-password">
              Confirmar Contraseña
            </label>
            <div *ngIf="registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched" class="text-red-500 text-xs mt-1">
              Las contraseñas no coinciden.
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
            type="submit"
            [disabled]="registerForm.invalid"
          >
            Registrarse
          </button>
          <p class="w-full text-center text-neutral-600">¿Ya tienes cuenta? <a href="../login/" class="text-blue-700">Inicia sesión</a></p>
        </div>
      </form>
    </div>
  </div>
  