<a href="/" class="absolute top-0 left-0 mt-4 ml-4">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
  </svg>
</a>
<div class="flex justify-center items-center min-h-[600px] mt-4">
    <div class="bg-white shadow-md border rounded-xl px-8 pt-6 pb-8 mb-4">
      <h2 class="text-3xl font-bold mb-6 text-center">Registro</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <div class="relative">
            <input
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="documento"
              type="number"
              placeholder="12345678"
              formControlName="documento"
            >
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="documento">
              Nro. de documento
            </label>
            <div *ngIf="registerForm.get('documento')?.invalid && registerForm.get('documento')?.touched" class="text-red-500 text-xs mt-1">
              <div *ngIf="registerForm.get('documento')?.errors?.['required']">Documento es requerido.</div>
            </div>
          </div>          
        </div>
        <div class="mb-4 flex gap-2">
          <div class="relative w-full lg:w-1/2">
            <input
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="nombre"
              type="text"
              placeholder="Juan"
              formControlName="nombre"
            >
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="nombre">
              Nombre
            </label>
            <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched" class="text-red-500 text-xs mt-1">
              Nombre es requerido.
            </div>
          </div>
          <div class="relative w-full lg:w-1/2">
            <input
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="apellido"
              type="text"
              placeholder="Perez"
              formControlName="apellido"
            >
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="email">
              Apellido
            </label>
            <div *ngIf="registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched" class="text-red-500 text-xs mt-1">
              <div *ngIf="registerForm.get('apellido')?.errors?.['required']">Apellido es requerido.</div>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <div class="relative">
            <input
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="email"
              type="email"
              placeholder="juan.perez@correo.ucu.edu.uy"
              formControlName="email"
            >
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="email">
              Email
            </label>
            <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-red-500 text-xs mt-1">
              <div *ngIf="registerForm.get('email')?.errors?.['required']">Email es requerido.</div>
              <div *ngIf="registerForm.get('email')?.errors?.['email']">Email no es válido.</div>
            </div>
          </div>          
        </div>
        <div class="mb-4">
          <div class="relative">
            <select
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="carrera"
              formControlName="carrera"
            >
              <option value="" disabled selected>Selecciona una carrera</option>
              <option *ngFor="let carrera of carreras" [value]="carrera.id">{{ carrera.nombre }}</option>
            </select>
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="carrera">
              Carrera
            </label>
            <div *ngIf="registerForm.get('carrera')?.invalid && registerForm.get('carrera')?.touched" class="text-red-500 text-xs mt-1">
              Carrera es requerido.
            </div>
          </div>          
        </div>
        <div class="mb-4">
          <div class="relative">
            <input
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="password"
              type="password"
              placeholder="Contraseña"
              formControlName="password"
            >
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="password">
              Contraseña
            </label>
            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-red-500 text-xs mt-1">
              <div *ngIf="registerForm.get('password')?.errors?.['required']">Contraseña es requerida.</div>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <div class="relative">
            <input
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="confirm-password"
              type="password"
              placeholder="Confirmar Contraseña"
              formControlName="confirmPassword"
            >
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="confirm-password">
              Confirmar Contraseña
            </label>
            <div *ngIf="registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched" class="text-red-500 text-xs mt-1">
              Las contraseñas no coinciden.
            </div>
          </div>
        </div>
        <div class="mb-4">
          <div class="relative">
            <select
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="campeon"
              formControlName="campeon"
            >
              <option value="" disabled selected>Selecciona un campeon</option>
              <option *ngFor="let pais of paises" [value]="pais.nombre">{{ pais.nombre }}</option>
            </select>
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="campeon">
              Campeon
            </label>
            <div *ngIf="registerForm.get('campeon')?.invalid && registerForm.get('campeon')?.touched" class="text-red-500 text-xs mt-1">
              Campeon es requerido.
            </div>
          </div>          
        </div>
        <div class="mb-6">
          <div class="relative">
            <select
              class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="subCamepon"
              formControlName="subCamepon"
            >
              <option value="" disabled selected>Selecciona un sub-campeon</option>
              <option *ngFor="let pais of paises" [value]="pais.nombre">{{ pais.nombre }}</option>
            </select>
            <label class="absolute top-0 left-2 -mt-2 text-gray-600 text-xs" for="subCamepon">
              Sub-campeon
            </label>
            <div *ngIf="registerForm.get('subCamepon')?.invalid && registerForm.get('subCamepon')?.touched" class="text-red-500 text-xs mt-1">
              Sub-campeon es requerido.
            </div>
          </div>          
        </div>
        <div class="flex flex-col items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
            type="submit"
            [disabled]="false"
          >
            Registrarse
          </button>
          <p class="w-full text-center text-neutral-600">¿Ya tienes cuenta? <a href="../login/" class="text-blue-700">Inicia sesión</a></p>
        </div>
      </form>
    </div>
  </div>
  